/* Cookie Policy page */
.cookiePolicyWrapper{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: "Lato", sans-serif;
}
.footerPageSection h6{
    font-size: 1.8rem;
    font-weight: bold;
}
.footerPageSection p{
    font-size: 16px;
}